{% extends "layouts/global.twig" %}

{% block main_section %}
<div class="row">
    <div class="small-12 medium-8 columns main-content" >
        {% block main_content %}
        {% endblock %}
    </div>
    <div class="small-12 medium-4 columns sidebar">
        {% block sidebar %}
            <div class="block">
                <h2>I am the sidebar?</h2>
                <p>
                    Fancy, huh?
                </p>
            </div>
        {% endblock %}
    </div>
</div>
{% endblock %}